<a href="https://colab.research.google.com/github/nishat2021/Property-Management-System/blob/main/CSE110_LAB2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Task1**

In [ ]:
num_1=int(input())
num_2=int(input())
sum=num_1+num_2
product=num_1*num_2
differ=num_1-num_2
print("Sum =" ,sum)
print("Product =",product)
print("Difference =" ,differ)

30
2
Sum = 32
Product = 60
Difference = 28

**Task2**

In [ ]:
import math
radius=float(input())
area=math.pi*math.pow(radius,2)
circum=2*math.pi*radius
print("Area is ",area)
print("Circumference is ",circum)

3.5
Area is  38.48451000647496
Circumference is  21.991148575128552

**Task3**

In [ ]:
num_1=int(input())
num_2=int(input())
if num_1>num_2:
  print("First is greater")
elif num_2>num_1:
   print("Second is greater")
else:
  print("The numbers are equal")

11
11
The numbers are equal

**Task4**

In [ ]:
num_1=int(input())
num_2=int(input())
if num_1>num_2:
  sub=num_1-num_2
  print(sub)
else:
  sub=num_2-num_1
  print(sub)

5
5
0

**Task5**

In [ ]:
num_1=int(input())
if num_1%2==0:
  print("The number is even")
else:
  print("The number is odd")

-44
The number is even

**Task6**

In [ ]:
num_1=int(input())
if num_1%2==0 or num_1%5==0:
  print(num_1)
else:
  print("Not a multiple of 2 OR 5")

3
Not a multiple of 2 OR 5

**Task7**

In [ ]:
n=int(input())
if n%2==0 and n%5==0:
  print("Multiple of 2 and 5 both")
elif n%2==0 or n%5==0:
  print(n)
else:
  print("Not a multiple we want")

6
6

**Task8**

In [ ]:
n=int(input())
if n%2==0 and n%5==0:
  print(n)
else:
  print("Not a multiple of 2 and 5 both")

6
Not a multiple of 2 and 5 both

**Task9**

In [ ]:
sec=int(input())
hour=sec//3600
sec=sec%3600
min=sec//60
sec=sec%60
print("Hours:",hour ,"Minutes:",min, "Seconds:",sec,)

10000
Hours: 2 Minutes: 46 Seconds: 40

**Task10**

In [ ]:
hour=int(input())
if hour<0:
  print("Hour cannot be negative")
elif hour>168:
  print("Impossible to work more than 168 hours weekly")

elif hour<=40:
  Weekly_salary=hour*200
  print(Weekly_salary)
elif hour>40:
  Weekly_salary=8000+(hour-40)*300
  print(Weekly_salary)

170
Impossible to work more than 168 hours weekly

**Task11**

In [ ]:

S=int(input())
if S<100:
  L=3000-125*S**2
  print(L)
else:
  L=12000/(4+S**2/14900)
  print((L))

120
2416.2162162162163

**Task12**

In [ ]:
hour=int(input())
if hour>=4 and hour<=6:
  print("Breakfast")
elif hour>=12 and hour<=13:
  print("Lunch")
elif hour>=16 and hour<=17:
  print("Snacks")
elif hour>=19 and hour<=20:
  print("Dinner")
elif hour>0 and hour<24:
  print("Patient is a virtue")
else:
  print("Wrong time")

Wrong time

**Task13**

In [ ]:
mark=int(input())
if mark>=90 and mark<=100:
  print("A")
elif mark>=80 and mark<=89:
  print("B")
elif mark>=70 and mark<=79:
  print("C")
elif mark>=60 and mark<=69:
  print("D")
elif mark>=50 and mark<=59:
  print("E")
elif mark<50:
  print("F")

44
F

**Task14**

In [ ]:
distance=int(input())
time=int(input())
distanceinkm=distance/1000
timeinhour=time/3600
velocity=distanceinkm/timeinhour
if velocity<60:
  print(velocity)
  print("Too slow. Needs more changes.")
elif velocity>=60 and velocity<=90:
  print(velocity)
  print("Velocity is okay. The car is ready!")
elif velocity>90:
  print(velocity)
  print("Too fast. Only a few changes should suffice.")

25400
3600
25.4
Too slow. Needs more changes.

**Task15**

In [4]:
cgpa=float(input())
credit=int(input())
if credit>=30 and cgpa>=3.80 and cgpa<=3.89:
  print("The student is eligible for a waiver of 25  percent")
elif credit>=30 and cgpa>=3.90 and cgpa<=3.94:
  print("The student is eligible for a waiver of 50 percent")
elif credit>=30 and cgpa>=3.95 and cgpa<=3.99:
  print("The student is eligible for a waiver of 75 percent")
elif credit>=30 and cgpa==4.00:
  print("The student is eligible for a waiver of 100 percent")
else:
  print("The student is not eligible for a waiver")

3.79
30
The student is not eligible for a waiver

**Task16**

In [ ]:
p = 5
q = 6
r = 9
sum = 0
if (p < 12):
    print(r + 2)
else:
    print(r + p)
if (q > 20):
    print(r + 19)
elif (q <= 6):
    print(q + 3)
else:
    print(p + q + r)
if (r > 15):
    print(r)
elif (r == 0):
    print(p + q)
else:
    print(p)
if (sum != 0):
    print(3)
else:
    print(sum + 32)
if (p>0 and r<10):
    print(p+r)
else:
    print(p-r)

11
9
5
32
14

**Task17**

In [ ]:
var1 = var2 = var3 = var4 = var5 = var6 = False
result1 = False
result2 = False
result3 = False
result4 = False
result5 = False
result6 = False
result7 = False
result8 = False
result9 = False
result10 = False
var1 = 4 > 3 - 1
var2 = var1 and False
var3 = True
var4 = False
var5 = True
var6 = var3 and False
result1 = (var1 or var2) and (8 * 10 > 45)
result2 = (var1 or var2) and (result1 and False)
result3 = (var1 and result1) or result2
result4 = (var1 or var2) or ((var3 and var1) and False)
result5 = (var1 and var2) and (result3 or var1)
result6 = ((var3 or var2) and not(result5)) or True
result7 = (var4 and result1) and ((result1 and False) or True)
result8 = ((var1 and result3) and (var5 or var6)) and True
result9 = ((result2 and var2) or (result7 and var1)) and False
result10 = not(var1 and True)


print(result1)
print(result2)
print(result3)
print(result4)
print(result5)
print(result6)
print(result7)
print(result8)
print(result9)
print(result10)

True
False
True
True
False
True
False
True
False
False

**task18**

In [ ]:
var1 = False
var2 = False
var3 = False
var4 = False
var5 = False
var6 = False
result1 = False
result2 = False
result3 = False
result4 = False
result5 = False
result6 = False
result7 = False
result8 = False
result9 = False
result10 = False
var1 = ((not True) or True) and False
var2 = var1 and False
var3 = True and not False
var4 = False
var5 = True
var6 = var3 and False
result1 = (var1 and var2) and (40 % 3) > 45 or (var5 and var6)
result2 = (var1 or var2) or (result1 and False)
result3 = (var1 and result1) or result2 or var5
result4 = (var1 or var2) or ((var3 and var1) and False)
result5 = (var1 and var2) and (result3 or var1)
result6 = ((var3 or (not var2)) and (result5)) or True
result7 = (var4 and result1) and ((result1 and False) or True)
result8 = ((var1 and result3) and ((not var5) or var6)) and True
result9 = ((result2 and var2) or ((not result7) and var1)) and not False
result10 = not(var1 and True)
print(result1)
print(result2)
print(result3)
print(result4)
print(result5)
print(result6)
print(result7)
print(result8)
print(result9)
print(result10)

False
False
True
False
False
True
False
False
False
True

**task19**

In [1]:
var1 = var2 = var3 = var4 = var5 = var6 = False
result1 = result2 = result3 = result4 = result5 = result6 = False
result7 = result8 = result9 = result10 = False
var1 = (not False or False) and True
var2 = var1 and True
var3 = False and not True
var4 = True
var5 = False
var6 = var3 and True
result1 = (var1 and var2) and ( 40 % 3 > 45) or (var5 and var6)
result2 = (var1 or var2) or (result1 and False)
result3 = (var1 and result1) or result2 or var5
result4 = (var1 or var2) or ((var3 and var1) and False)
result5 = (var1 and var2) and (result3 or var1)
result6 = ((var3 or not var2) and (result5)) or True
result7 = (var4 and result1) and ((result1 and False) or True)
result8 = ((var1 and result3) and (not var5 or var6)) and True
result9 = ((result2 and var2) or (not result7 and var1)) and not False
result10 = not (var1 and True)
print(result1)
print(result2)
print(result3)
print(result4)
print(result5)
print(result6)
print(result7)
print(result8)
print(result9)
print(result10)

False
True
True
True
True
True
False
True
True
False

**Task20**

In [8]:
num=int(input())
if num%2!=0 and num%5!=0:
  print(num)
else:
  print("No")

3
3

**TASk21**

In [12]:
num=int(input())
if num%2!=0 or num%5!=0:
  print(num)
else:
  print("No")

14
14

**Task22**

In [15]:
canvas=int(input())
paint=int(input())
total_amount=canvas*120+paint*75
if total_amount>=0 and total_amount<=299:
  print("Previous total: ",total_amount)
  print("New total after discount: ",total_amount)
elif total_amount>=300 and total_amount<=499:
  print("Previous total: ",total_amount)
  print("New total after discount: ",total_amount-10)
elif total_amount>=500 and total_amount<=749:
   print("Previous total: ",total_amount)
   print("New total after discount: ",total_amount-20)
elif total_amount>=750 and total_amount<=999:
   print("Previous total: ",total_amount)
   print("New total after discount: ",total_amount-50)
elif total_amount>=1000:
   print("Previous total: ",total_amount)
   print("New total after discount: ",total_amount-150)

0
3
Previous total:  225
New total after discount:  225

**Task23**

In [19]:
import math
tem=int(input())
degree=math.floor((tem-32)*0.56)
if degree<20:
  print(degree,"degrees C")
  print("Winter")
elif degree>=20 and degree<=25:
  print(degree,"degrees C")
  print("Autumn")
elif degree>25 and degree<30:
  print(degree,"degrees C")
  print("Spring")
elif degree>=30:
  print(degree,"degrees C")
  print("Summer")

76
24 degrees C
Autumn